aniso8601==6.0.0
api==0.0.7
appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
awscli==1.18.103
Babel==2.8.0
botocore==1.17.26
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.3
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
Flask==1.0.3
Flask-Cors==3.0.7
Flask-Moment==0.9.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.10.0
MarkupSafe==1.1.1
more-itertools==8.4.0
nose==1.3.7
packaging==20.4
phonenumbers==8.12.6
pluggy==0.13.1
psycopg2-binary==2.8.2
py==1.9.0
pyasn1==0.4.8
PyJWT==1.7.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.6.0
pytz==2019.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.5
s3transfer==0.3.3
six==1.12.0
SQLAlchemy==1.3.4
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
Werkzeug==0.15.4
WTForms==2.3.1
zipp==3.1.0
